.about-us-ctn img {
    height: 442px;
    width: 100%;
    object-fit: cover;
    object-position: 40% 10%;
    filter: brightness(0.8);
}

.nav-about {
    margin-top: -5rem;
    padding: 2rem;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-about button {
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 24px;
}

.nav-about button:hover {
    font-size: 30px;
    transition: 0.5s;
}

.nav-about button:focus {
    font-size: 30px;
    transition: 0.5s;
}

.nav-about button:nth-of-type(1) {
    background-image: url(https://previews.123rf.com/images/rbhavana/rbhavana1108/rbhavana110800172/10329980-organization-chart-in-abstract-background.jpg);
    background-position: center;
    color: var(--mainColor);
}

.nav-about button:nth-of-type(2) {
    background-image: url(https://images.squarespace-cdn.com/content/v1/5e3ae91962f97d16937cb4a5/1581967630830-D99Q8E3K4DTA48R7M7E2/background+for+website+headers.jpg?format=2500w);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--mainColor);
}

.nav-about button:nth-of-type(3) {
    background-image: url(https://t3.ftcdn.net/jpg/01/62/98/38/360_F_162983883_i34L1U4i42ZzjvDyoRAVC4D9U0f4PzDy.jpg);
    background-position: center;
    background-size: cover;
}

.why-ctn {
    background-image: url("https://img.freepik.com/premium-photo/transportation-logistics-container-cargo-ship-cargo-plane-3d-rendering-illustration_37416-200.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.w-filter {
    color: white;
    background-color: rgba(0, 0, 0, 0.473);
    text-align: center;
    align-items: center;
    padding: 5rem;
    display: grid;
    justify-content: center;
}

.w-title h1 {
    font-size: 32px;
}

.underline-hl {
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 3px;
    margin-bottom: 2rem;
    margin-left: 5rem;
}

.filter {
    color: white;
    background-color: rgba(2, 2, 2, 0.597);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0;
}

.chair-letter {
    margin: 5rem;
}

.chair-letter h5 {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 1rem;
}

.chair-letter p {
    margin-bottom: 1.5rem;
}

.chair-letter hr {
    margin-top: 4rem;
}

.board-team {
    margin: 5rem;
}

.board-team button {
    padding: 10px 2rem;
    margin: 1rem 1rem 1rem 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--mainColor);
}

.board-team button:active {
    color: var(--mainColor);
    background-color: var(--textColor);
}

.board-team button:focus {
    color: var(--mainColor);
    background-color: var(--textColor);
}

@media only screen and (max-width: 1024px) {
    .divider {
        visibility: hidden;
    }

    .about-text {
        margin: 2rem;
    }

    .history-ctn {
        margin: 2rem;
    }

    .map {
        display: none;
    }

    .divider-vl {
        display: none;
    }

    .title {
        margin-left: 2rem;
    }

    .underline {
        margin-left: 2rem;
    }

    .chair-letter {
        margin: 5rem 1.5rem;
    }
}