.main {
    text-align: center;
    height: 50vh;
    background-color: #000;
}

.container-style {
    height: 100%;
}

.description {
    position: absolute;
    z-index: 10000;
    color: #eee;
    top: 25%;
    left: 5%;
}

.description h1 {
    font-size: 46px;
}

.description p {
    font-size: 22px;
}

.carousel-boullt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-boullt span {
    cursor: pointer;
    width: 45px;
    height: 5px;
    background-color: #eee;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 3px 2px 2px rgba(73, 72, 72m, 0.338);
}

@media only screen and (max-width: 1024px) {
    .description h1 {
        font-size: 26px;
        margin-right: 1rem;
        margin-top: 2rem;
    }
    
    .description p {
        font-size: 12px;
        margin-right: 1rem;
    }
}