.stock-info-ctn {
    padding: 2rem;
    display: grid;
}

.price-name {
    display: flex;
    align-items: flex-end;
}

.stock-name {
    margin-right: 15rem;
}

.stock-info {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
    .stock-info-ctn {
        display: grid;
        padding: 1rem;
    }

    .price-name {
        display: grid;
    }
    
    .stock-info {
        display: grid;
    }
}